@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

@theme {
  --color-luxury-gold: #CFAF7E;
  --color-luxury-charcoal: #0A0A0A;
  --color-luxury-ivory: #F5F5F5;
  --font-body: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-luxury-charcoal text-white/90 font-body antialiased;
  }
}